.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.conteudoPrincipal section.container {
    display: flex;
    justify-content: space-around;
}

nav ul.index {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.rodapePrincipal-links ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rodapePrincipal-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width: 769px) {

    .cabecalhoPrincipal .container {
        flex-direction: column;
        justify-content: center;
    }

    .cabecalhoPrincipal-nav{
        flex-direction: column;   
        width: 100%;
        padding: 0;
    }

    .conteudoPrincipal .container{
        flex-direction: column;
        align-items: center;
    }

    nav ul.index {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    nav ul.index li.boxAtalho {
        width: 95%;
    }

    .cabecalhoPrincipal-nav-link {
        text-align: center;
        margin: 0;
        color: #fff;
        background-color: #e74c3c;
        text-decoration: none;
        transition: .5s;
        border: 1px solid #c0392b;
        border-radius: 0;
     }
      
    .cabecalhoPrincipal-nav-link:hover {
        color: #FFF;
        background-color: #c0392b;
    }

    .ativo {
        background-color: #d35400;
    }
    
    div.box-text {
        width: 100%;
    }
    
    div.box-image {
        width: 100%;
        padding: 0;
        margin: auto;
    }

    img.imagem {
        width: 18.750em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .rodapePrincipal-links {
        display: flex;
        align-content: space-around;
        height: inherit;
    }
    .rodapePrincipal-links ul {
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        
    }

    .rodapePrincipal-links-titulos {
        display: none;
    }

    .content {
        width: 100%;
    }
    
    .imagens {
        width: 276px;
        height: 184px;
    }

    .card {
        width: 276px;
        padding: 20px;
        background-color: #bdc3c7;
        margin: auto;
    }

    .boxHepatites-content {
        width: 90%;
        
    }
}


/*
.cabecalhoPrincipal:after{
    content:"";
    width:100%;
    height:1.25em;
    position:absolute;
    bottom:0;
    left:0;
    z-index:-1;
  }

  .cabecalhoPrincipal:before{
    content:"";
    width:100%;
    height:30%;
    position:absolute;
    top:-10px;
    left:0;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1.0, 1.0);
      transform: translateZ(0);
    background-image: url("../img/backimage.jpg");
    background-size:cover;
    background-attachment:fixed;
    animation: grow 60s  linear 10ms infinite;
    transition:all 0.2s ease-in-out;
    z-index:-2
  }

  /*Animação Header Key Frame

@keyframes grow{
    0% { transform:scale(1)}
    50% { transform:scale(1.2)}
  }*/
  